//_re-variables.scss

// Variables general
///////////////////////////////////////

$head-items-height: 103px;
$foot-height: 80px; // temporary
$color-bars-height: 4px; // temporary
$iconSize: 36px; // temporary
$default-spacing: 5px;

$z-index-layer: 1;

// Colors
$color-white: #fff;
$color-black: #000;

$color-red: #ea1c0a;
$color-red1: #d51607;
$color-red2: #f05548;
$color-red3: #f48d84;
$color-red4: #fac6c2;

$color-turquoise: #1ea2b1;
$color-turquoise1: #0f738a;
$color-turquoise2: #2b91a3;
$color-turquoise3: #56b9c4;
$color-turquoise4: #8ed0d8;
$color-turquoise5: #c7e8eb;

$color-yellow: #e3e000;
$color-yellow1: #dad600;
$color-yellow2: #eae840;
$color-yellow3: #f1ef80;
$color-yellow4: #f8f7bf;

$color-dark-red: #b00402;
$color-dark-red1: #76020d;
$color-dark-red2: #a00311;
$color-dark-red3: #c44342;
$color-dark-red4: #d78180;
$color-dark-red5: #ebc0c0;

$color-grey: #39393a;
$color-grey1: #404040;
$color-grey2: #8f9192;
$color-grey3: #bfbfbf;
$color-grey4: #e8e8e8;
$color-grey5: #f6f6f7;
$color-grey6: #222222;
$color-grey7: #666666;

// font weights
$fw-regular: 300;
$fw-bold: 700;
